In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive

np.random.seed(424)

In [ ]:
# Mount google drive

drive.mount('/content/gdrive', force_remount=True)

%cd '/content/gdrive/My Drive/Masters_Thesis'

Mounted at /content/gdrive
/content/gdrive/My Drive/Masters_Thesis

In [ ]:
# Import UU data
file_name = 'uu.xlsx'

# Read the Excel file into a pandas DataFrame
df = pd.read_excel(file_name)

In [ ]:
# Checking the number of students in the data
len(df.dossier_id.unique())

8067

In [ ]:
#print Dataframe
df

,id,question_id,dossier_id,answer,createdOn,lastModified,dossierTest_id,answeredTest_id,id.1,question,type,description,createdOn.1,lastModified.1,knowledgeBaseKey,systemName,allowEmptyAnswer,label
0,53205,259,973,1,2017-03-06 16:52:11,2017-03-06 16:52:11,\N,\N,259,Ik weet wat ik leuk vind in mijn werk.,likert/likert5puntsacceptatie2positiefpluseen,NaN,0000-00-00 00:00:00,2016-09-16 05:23:13,\N,\N,0,\N
1,53206,260,973,4,2017-03-06 16:52:14,2017-03-06 16:52:14,\N,\N,260,Ik weet wat voor mij belangrijk is in mijn loo...,likert/likert5puntsacceptatie2positiefpluseen,NaN,0000-00-00 00:00:00,2018-06-01 20:56:40,\N,\N,0,\N
2,53207,261,973,3,2017-03-06 16:52:15,2017-03-06 16:52:15,\N,\N,261,Ik heb duidelijk voor ogen wat mijn passies zi...,likert/likert5puntsacceptatie2positiefpluseen,NaN,0000-00-00 00:00:00,2018-11-21 12:15:31,\N,\N,0,\N
3,53208,262,973,2,2017-03-06 16:52:15,2017-03-06 16:52:15,\N,\N,262,Ik weet wat mijn sterke punten zijn in mijn werk.,likert/likert5puntsacceptatie2positiefpluseen,NaN,0000-00-00 00:00:00,2016-09-16 05:23:50,\N,\N,0,\N
4,53209,263,973,1,2017-03-06 16:52:16,2017-03-06 16:52:16,\N,\N,263,Ik ken mijn eigen beperkingen in mijn werk.,likert/likert5puntsacceptatie2positiefpluseen,NaN,0000-00-00 00:00:00,2018-06-01 21:06:18,\N,\N,0,\N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217820,748130,2411,91930,4,2023-04-27 21:06:14,2023-04-27 21:06:14,\N,25252,2411,question.id_2411,likert/likert6puntsmatepositief,NaN,2020-10-29 13:01:10,2020-11-02 15:59:04,\N,innovation,0,Om mijn werk goed te doen heb je creativiteit ...
217821,748131,2397,91930,2,2023-04-27 21:06:14,2023-04-27 21:06:14,\N,25252,2397,question.id_2397,likert/likert6puntsmatepositief,NaN,2020-10-29 12:53:06,2021-06-07 12:22:11,\N,achievement,0,Om mijn werk goed te doen is het belangrijk om...
217822,748132,2398,91930,3,2023-04-27 21:06:14,2023-04-27 21:06:14,\N,25252,2398,question.id_2398,likert/likert6puntsmatepositief,NaN,2020-10-29 12:56:53,2020-11-02 15:58:18,\N,persistence,0,Om mijn werk goed te doen is doorzettingsvermo...
217823,748133,2399,91930,3,2023-04-27 21:06:14,2023-04-27 21:06:14,\N,25252,2399,question.id_2399,likert/likert6puntsmatepositief,NaN,2020-10-29 12:57:08,2020-11-02 15:55:53,\N,initiative,0,Om mijn werk goed te doen is het belangrijk om...
217824,748134,2410,91930,4,2023-04-27 21:06:14,2023-04-27 21:06:14,\N,25252,2410,question.id_2410,likert/likert6puntsmatepositief,NaN,2020-10-29 13:00:45,2020-11-02 15:56:37,\N,independent,0,Om mijn werk goed te doen is het belangrijk da...

# Adding studies of UU students

In [ ]:
# Data with student studies
new_studies_file = 'sponsor.xlsx'
xl = pd.ExcelFile(new_studies_file)
studies = xl.parse("Werkblad 1", header=None, names=['username', 'dossier_id', 'sponsor'])

# Drop first row
studies.drop(index=studies.index[[0,1]], axis=0, inplace=True)
#studies.reset_index()

# remove column 'username' as Sollicity have verified that it is for admin purposes only and poses no useful information
studies.drop(studies.columns[[0]], axis=1, inplace=True)
studies.rename(columns={"sponsor": "faculty"}, inplace=True)
studies = studies.reset_index(drop=True)
studies

      dossier_id                                            faculty
0            976                    Faculteit Sociale Wetenschappen
1            987                     Faculteit Geesteswetenschappen
2           1007                              Faculteit Geneeskunde
3           1008  Faculteit Recht, Economie, Bestuur en Organisatie
4           1009                        Graduate School of Teaching
...          ...                                                ...
13289      91714                         Faculteit Geowetenschappen
13290      91822                     Faculteit Geesteswetenschappen
13291      91835                        Faculteit Betawetenschappen
13292      91922  Faculteit Recht, Economie, Bestuur en Organisatie
13293      91944                     Faculteit Geesteswetenschappen

[13294 rows x 2 columns]

In [ ]:
# new data with groups

new_groups_file = 'UU Careercheck 20230504.xlsx'

xls = pd.ExcelFile(new_groups_file)
new_df1 = pd.read_excel(xls, 'remarks')
new_df2 = pd.read_excel(xls, 'questionnaires in system')
new_df3 = pd.read_excel(xls, 'questions in system')
new_df4 = pd.read_excel(xls, 'groups in questionnaires in sys')

In [ ]:
# questioninlevel1subgroup contains the question_ids so renaming
new_df4.rename(columns={"questioninlevel1subgroup": "question_id"}, inplace=True)

# replace question.id_ part of values so that we only have the ID values for ease of merging
new_df4['question_id'] = new_df4['question_id'].str.replace('question.id_', '')

Filt_df4 = new_df4.drop(['level2subgroup', 'level2subgroup_id', 'questioninlevel2subgroup'], axis=1)
Filt_df4

<ipython-input-8-a2a2685421ac>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  new_df4['question_id'] = new_df4['question_id'].str.replace('question.id_', '')

,maingroup,maingroup_id,questioninmaingroup_id,questioninmaingroup,level1subgroup,level1subgroup_id,question_id
0,Beroepskeuzetest,459,\N,\N,Ik kan,476,2281
1,Beroepskeuzetest,459,\N,\N,Ik kan,476,2263
2,Beroepskeuzetest,459,\N,\N,Ik kan,476,2269
3,Beroepskeuzetest,459,\N,\N,Ik kan,476,2278
4,Beroepskeuzetest,459,\N,\N,Ik kan,476,2280
...,...,...,...,...,...,...,...
652,Competenties,525,2565,question.id_2565,\N,\N,\N
653,Competenties,525,2566,question.id_2566,\N,\N,\N
654,Competenties,525,2567,question.id_2567,\N,\N,\N
655,Competenties,525,2568,question.id_2568,\N,\N,\N
656,Competenties,525,2569,question.id_2569,\N,\N,\N

In [ ]:
# Replace null value with NAN
Filt_df4['question_id'] = Filt_df4['question_id'].replace(r'\N', np.nan)
Filt_df4.question_id.fillna(Filt_df4.questioninmaingroup_id, inplace=True)

# convert question_id float values to int and then to string
Filt_df4['question_id'] = Filt_df4['question_id'].astype(int)
Filt_df4['question_id'] = Filt_df4['question_id'].astype(str)

# droping questioninmaingroup_id and questioninmaingroup
Filt_df4 = Filt_df4.drop(['questioninmaingroup_id', 'questioninmaingroup'], axis=1)

# replace question.id_ part of values so that we only have the ID values for ease of merging
#Filt_df4['question_id'].str.replace('question.id_', '')
Filt_df4

,maingroup,maingroup_id,level1subgroup,level1subgroup_id,question_id
0,Beroepskeuzetest,459,Ik kan,476,2281
1,Beroepskeuzetest,459,Ik kan,476,2263
2,Beroepskeuzetest,459,Ik kan,476,2269
3,Beroepskeuzetest,459,Ik kan,476,2278
4,Beroepskeuzetest,459,Ik kan,476,2280
...,...,...,...,...,...
652,Competenties,525,\N,\N,2565
653,Competenties,525,\N,\N,2566
654,Competenties,525,\N,\N,2567
655,Competenties,525,\N,\N,2568
656,Competenties,525,\N,\N,2569

Every level1subgroup row appears to contain more than one row per question but the it still links to the same type of result so removing these extra group values e.g. ik houd van (e.g. Social)

In [ ]:
# Search for specific words in level1subgroup column and replace with NaN
Filt_df4.loc[Filt_df4['level1subgroup'].str.contains('ik houd van', case=False, na=False), 'level1subgroup'] = np.nan
Filt_df4.loc[Filt_df4['level1subgroup'].str.contains('ik kan', case=False, na=False), 'level1subgroup'] = np.nan
Filt_df4.loc[Filt_df4['level1subgroup'].str.contains('ik ben', case=False, na=False), 'level1subgroup'] = np.nan
Filt_df4.loc[Filt_df4['level1subgroup'].str.contains('taxonomy.onet.cmr.select_highpoint', case=False, na=False), 'level1subgroup'] = np.nan

# Print the updated DataFrame
Filt_df4

,maingroup,maingroup_id,level1subgroup,level1subgroup_id,question_id
0,Beroepskeuzetest,459,NaN,476,2281
1,Beroepskeuzetest,459,NaN,476,2263
2,Beroepskeuzetest,459,NaN,476,2269
3,Beroepskeuzetest,459,NaN,476,2278
4,Beroepskeuzetest,459,NaN,476,2280
...,...,...,...,...,...
652,Competenties,525,\N,\N,2565
653,Competenties,525,\N,\N,2566
654,Competenties,525,\N,\N,2567
655,Competenties,525,\N,\N,2568
656,Competenties,525,\N,\N,2569

In [ ]:
# Remove rows with NaN values in level1subgroup column
Filt_df4 = Filt_df4.dropna(subset=['level1subgroup'])

#group by 'question.id' and aggregate unique values in subgroup column
grouped = Filt_df4.groupby('question_id')['level1subgroup'].agg(lambda x: tuple(set(x))).reset_index()

# Find the maximum number of unique subgroup values
max_subgroup_count = grouped['level1subgroup'].apply(lambda x: len(x)).max()

# create new columns for each unique subgroup value
new_columns = [f'level1subgroup{i+1}' for i in range(max_subgroup_count)]
grouped[new_columns] = pd.DataFrame(grouped['level1subgroup'].tolist(), index=grouped.index)

# Drop the original subgroup
grouped = grouped.drop('level1subgroup', axis=1)
grouped

    question_id level1subgroup1 level1subgroup2
0          2214     Realistisch            None
1          2215     Realistisch            None
2          2216     Realistisch            None
3          2217     Realistisch            None
4          2218     Realistisch            None
..          ...             ...             ...
174        2565              \N            None
175        2566              \N            None
176        2567              \N            None
177        2568              \N            None
178        2569              \N            None

[179 rows x 3 columns]

one question was found to correspond to two separate results when no other questions had this tendency. The Question was to do with friendlyness and hence more likely to be concerned with 'Social' than 'Artistic'

In [ ]:
# Setting question 2232 to only social instead of social and artistic

#condition = grouped['level1subgroup2'] == 'Artistiek'  # Define the condition
#grouped.loc[condition, 'level1subgroup1'] = grouped.loc[condition, 'level1subgroup2']
df_groups = grouped.drop('level1subgroup2', axis=1)
df_groups[df_groups['question_id'] == '2232']

   question_id level1subgroup1
18        2232       Artistiek

In [ ]:
groups = df_groups # Shorter variable name for simplicity
groups.rename(columns={"level1subgroup1": "level1subgroup"}, inplace=True)
groups

    question_id level1subgroup
0          2214    Realistisch
1          2215    Realistisch
2          2216    Realistisch
3          2217    Realistisch
4          2218    Realistisch
..          ...            ...
174        2565             \N
175        2566             \N
176        2567             \N
177        2568             \N
178        2569             \N

[179 rows x 2 columns]

Preprocessing skills (Competencies) to be added to groups data too as it is missing level1subgroup data which is needed for outcome of questions

In [ ]:
# Import data with skills
skills_file = 'Competencies.xlsx'
skills = pd.read_excel(skills_file)
#skills

# Fix variable names and subset data to include only necessary variables
skills.rename(columns={"id": "question_id"}, inplace=True)
skills.rename(columns={"maincompetences": "level1subgroup"}, inplace=True)
skills_drop = skills.drop(['description', 'question', 'createdOn', 'lastModified', 'type', 'knowledgeBaseKey', 'subcompetences',  'maincompetencesII'], axis=1)
skills_drop.head(6)

# add skills to groups data
groups['level1subgroup'] = groups['level1subgroup'].replace(r'\N', np.nan)
groups = groups.set_index('question_id')
groups['level1subgroup'] = groups['level1subgroup'].combine_first(skills_drop.set_index('question_id')['level1subgroup'])
groups = groups.reset_index()

groups.tail(37)

    question_id     level1subgroup
142        2411  Praktisch inzicht
143        2412  Praktisch inzicht
144        2535                NaN
145        2536                NaN
146        2537                NaN
147        2538                NaN
148        2539                NaN
149        2540                NaN
150        2541                NaN
151        2542                NaN
152        2543                NaN
153        2544                NaN
154        2545                NaN
155        2546                NaN
156        2547                NaN
157        2548                NaN
158        2549                NaN
159        2550                NaN
160        2551                NaN
161        2552                NaN
162        2553                NaN
163        2554                NaN
164        2555                NaN
165        2556                NaN
166        2557                NaN
167        2558                NaN
168        2559                NaN
169        2560                NaN
170        2561                NaN
171        2562                NaN
172        2563                NaN
173        2564                NaN
174        2565                NaN
175        2566                NaN
176        2567                NaN
177        2568                NaN
178        2569                NaN

In [ ]:
# Loading modified dataset produced in Samuel's research
new_mod_file = 'uu_norm.xlsx'

xls_mod = pd.ExcelFile(new_mod_file)
df_mod = pd.read_excel(xls_mod, 'Sheet 1')

In [ ]:
# (Ensuring is in) converting to string data type
df_mod['question_id'] = df_mod['question_id'].astype(str)
groups['question_id'] = groups['question_id'].astype(str)

# Merge groups to main dataset
df_mod_groups = pd.merge(df_mod, groups, on='question_id', how='left')
df_mod_groups

,dossier_id,question_id,answer,label,level1subgroup
0,973,2336,1.0,Dat ik de hele dag bezig kan zijn,Arbeidsvoorwaarden
1,973,2355,0.8,Dat ik het gevoel heb dat ik iets bereik met w...,Prestaties leveren
2,973,2354,0.8,Dat ik een vaste baan heb,Arbeidsvoorwaarden
3,973,2337,1.0,Dat ik elke dag iets anders kan doen,Arbeidsvoorwaarden
4,973,2338,0.6,Dat ik dingen voor anderen kan doen,Collegialiteit
...,...,...,...,...,...
119554,91930,2411,0.8,Om mijn werk goed te doen heb je creativiteit ...,Praktisch inzicht
119555,91930,2397,0.4,Om mijn werk goed te doen is het belangrijk om...,Prestatiegerichtheid
119556,91930,2398,0.6,Om mijn werk goed te doen is doorzettingsvermo...,Prestatiegerichtheid
119557,91930,2399,0.6,Om mijn werk goed te doen is het belangrijk om...,Prestatiegerichtheid
119558,91930,2410,0.8,Om mijn werk goed te doen is het belangrijk da...,Onafhankelijkheid

In [ ]:
# Merging students studies to orginal data for Naomi's analysis

# merging (left join) studies to orginal dataframe
df_mod_groups_study = pd.merge(df_mod_groups, studies, on='dossier_id', how='left')
df_mod_groups_study

,dossier_id,question_id,answer,label,level1subgroup,faculty
0,973,2336,1.0,Dat ik de hele dag bezig kan zijn,Arbeidsvoorwaarden,NaN
1,973,2355,0.8,Dat ik het gevoel heb dat ik iets bereik met w...,Prestaties leveren,NaN
2,973,2354,0.8,Dat ik een vaste baan heb,Arbeidsvoorwaarden,NaN
3,973,2337,1.0,Dat ik elke dag iets anders kan doen,Arbeidsvoorwaarden,NaN
4,973,2338,0.6,Dat ik dingen voor anderen kan doen,Collegialiteit,NaN
...,...,...,...,...,...,...
119554,91930,2411,0.8,Om mijn werk goed te doen heb je creativiteit ...,Praktisch inzicht,Faculteit Geesteswetenschappen
119555,91930,2397,0.4,Om mijn werk goed te doen is het belangrijk om...,Prestatiegerichtheid,Faculteit Geesteswetenschappen
119556,91930,2398,0.6,Om mijn werk goed te doen is doorzettingsvermo...,Prestatiegerichtheid,Faculteit Geesteswetenschappen
119557,91930,2399,0.6,Om mijn werk goed te doen is het belangrijk om...,Prestatiegerichtheid,Faculteit Geesteswetenschappen
119558,91930,2410,0.8,Om mijn werk goed te doen is het belangrijk da...,Onafhankelijkheid,Faculteit Geesteswetenschappen

In [ ]:
# Removing demonstration dossier_id (accounts) values from orginal dataframe

# data with student demos
dossier_exclude_file = 'uu uva exclude.xlsx'

xl1 = pd.ExcelFile(dossier_exclude_file)
exclude = xl1.parse("Werkblad 1", header=None, names=['dossier_id'])

# Drop first row using drop()
exclude.drop(index=studies.index[[0,1]], axis=0, inplace=True)

# Remove special characters from the dossier_id column
exclude['dossier_id'] = exclude['dossier_id'].str.replace('"', '')

exclude['dossier_id'] = exclude['dossier_id'].astype(int)
df_mod_groups_study['dossier_id'] = df_mod_groups_study['dossier_id'].astype(int)

# Filter and remove dossier_id values from df1 using df2
df_mod_groups_study = df_mod_groups_study[~df_mod_groups_study['dossier_id'].isin(exclude['dossier_id'])]

# Removing unnecessary Variables
#df_mod_groups_study = df_mod_groups_study.drop(['createdOn...5', 'lastModified...6', 'id...9', 'createdOn...13',  'dossierTest_id', 'lastModified...14', 'description', 'knowledgeBaseKey', 'systemName', 'allowEmptyAnswer'], axis=1)
df_mod_groups_study

,dossier_id,question_id,answer,label,level1subgroup,faculty
328,1152,2281,0.75,rapporten schrijven,Conventioneel,Faculteit Geesteswetenschappen
329,1152,2263,0.75,intuïtief zijn,Artistiek,Faculteit Geesteswetenschappen
330,1152,2269,0.75,je gevoelens duidelijk uiten,Sociaal,Faculteit Geesteswetenschappen
331,1152,2278,0.75,activiteiten en evenementen organiseren,Ondernemend,Faculteit Geesteswetenschappen
332,1152,2280,0.75,onderdeel zijn van een organisatie,Conventioneel,Faculteit Geesteswetenschappen
...,...,...,...,...,...,...
119554,91930,2411,0.80,Om mijn werk goed te doen heb je creativiteit ...,Praktisch inzicht,Faculteit Geesteswetenschappen
119555,91930,2397,0.40,Om mijn werk goed te doen is het belangrijk om...,Prestatiegerichtheid,Faculteit Geesteswetenschappen
119556,91930,2398,0.60,Om mijn werk goed te doen is doorzettingsvermo...,Prestatiegerichtheid,Faculteit Geesteswetenschappen
119557,91930,2399,0.60,Om mijn werk goed te doen is het belangrijk om...,Prestatiegerichtheid,Faculteit Geesteswetenschappen
119558,91930,2410,0.80,Om mijn werk goed te doen is het belangrijk da...,Onafhankelijkheid,Faculteit Geesteswetenschappen

In [ ]:
# Exporting uu preprocessed dataset with groups, faculties and demo accounts excluded to excel file

#df_mod_groups_study.to_excel('uu_preprocessed.xlsx', index=False)

#Preprocessing reduced Data set (Used code after this twice, once for PCA_SV and second with PCA_CV to address both Samuel's PCA methods)

In [ ]:
# Provide the filename of your Excel file
file_name = 'reduced_dataset_pcaSC.xlsx'

# Read the Excel file into a pandas DataFrame
reduced_pcaSC = pd.read_excel(file_name)

In [ ]:
# COrrecting variable name
reduced_pcaSC.rename(columns={"level1subgroup1": "level1subgroup"}, inplace=True)
reduced_pcaSC

,question_id,dossier_id,answer,answeredTest_id,question,type,label,datetime,maingroup,maingroup_id,level1subgroup,faculty
0,2269,1152,0.6,19833,question.id_2269,likert/likert5puntsacceptatie2positiefpluseen,je gevoelens duidelijk uiten,2022-06-27 12:36:27,Beroepskeuzetest,459.0,Sociaal,Faculteit Geesteswetenschappen
1,2278,1152,0.6,19833,question.id_2278,likert/likert5puntsacceptatie2positiefpluseen,activiteiten en evenementen organiseren,2022-06-27 12:36:27,Beroepskeuzetest,459.0,Ondernemend,Faculteit Geesteswetenschappen
2,2283,1152,0.6,19833,question.id_2283,likert/likert5puntsacceptatie2positiefpluseen,goed overweg met een computer,2022-06-27 12:36:27,Beroepskeuzetest,459.0,Conventioneel,Faculteit Geesteswetenschappen
3,2279,1152,0.4,19833,question.id_2279,likert/likert5puntsacceptatie2positiefpluseen,een groepsgesprek leiden,2022-06-27 12:36:27,Beroepskeuzetest,459.0,Ondernemend,Faculteit Geesteswetenschappen
4,2250,1152,0.2,19833,question.id_2250,likert/likert5puntsacceptatie2positiefpluseen,elektrische dingen fixen,2022-06-27 12:36:27,Beroepskeuzetest,459.0,Realistisch,Faculteit Geesteswetenschappen
...,...,...,...,...,...,...,...,...,...,...,...,...
34868,2561,91930,0.142857142857143,25251,question.id_2561,likert/likert7puntslegeschaalpositief,Ik kan uitstekend dingen repareren. Toelichtin...,2023-04-27 21:03:57,Competenties,525.0,\N,Faculteit Geesteswetenschappen
34869,2403,91930,0.5,25252,question.id_2403,likert/likert6puntsmatepositief,Om mijn werk goed te doen is het belangrijk om...,2023-04-27 21:06:14,tests.workstyles.title,516.0,Gerichtheid op mensen,Faculteit Geesteswetenschappen
34870,2402,91930,0.333333333333333,25252,question.id_2402,likert/likert6puntsmatepositief,Om mijn werk goed te doen is het belangrijk om...,2023-04-27 21:06:14,tests.workstyles.title,516.0,Gerichtheid op mensen,Faculteit Geesteswetenschappen
34871,2401,91930,0.666666666666667,25252,question.id_2401,likert/likert6puntsmatepositief,Om mijn werk goed te doen is het belangrijk om...,2023-04-27 21:06:14,tests.workstyles.title,516.0,Gerichtheid op mensen,Faculteit Geesteswetenschappen
34872,2410,91930,0.666666666666667,25252,question.id_2410,likert/likert6puntsmatepositief,Om mijn werk goed te doen is het belangrijk da...,2023-04-27 21:06:14,tests.workstyles.title,516.0,Onafhankelijkheid,Faculteit Geesteswetenschappen

In [ ]:
# answer column using old normalized technique in PCASC but thankfully orginal norm data contans correct norm answers and are consistent with students

reduced_pcaSC = reduced_pcaSC.drop(['answer', 'level1subgroup'], axis=1)
reduced_pcaSC

,question_id,dossier_id,answeredTest_id,question,type,label,datetime,maingroup,maingroup_id,faculty
0,2269,1152,19833,question.id_2269,likert/likert5puntsacceptatie2positiefpluseen,je gevoelens duidelijk uiten,2022-06-27 12:36:27,Beroepskeuzetest,459.0,Faculteit Geesteswetenschappen
1,2278,1152,19833,question.id_2278,likert/likert5puntsacceptatie2positiefpluseen,activiteiten en evenementen organiseren,2022-06-27 12:36:27,Beroepskeuzetest,459.0,Faculteit Geesteswetenschappen
2,2283,1152,19833,question.id_2283,likert/likert5puntsacceptatie2positiefpluseen,goed overweg met een computer,2022-06-27 12:36:27,Beroepskeuzetest,459.0,Faculteit Geesteswetenschappen
3,2279,1152,19833,question.id_2279,likert/likert5puntsacceptatie2positiefpluseen,een groepsgesprek leiden,2022-06-27 12:36:27,Beroepskeuzetest,459.0,Faculteit Geesteswetenschappen
4,2250,1152,19833,question.id_2250,likert/likert5puntsacceptatie2positiefpluseen,elektrische dingen fixen,2022-06-27 12:36:27,Beroepskeuzetest,459.0,Faculteit Geesteswetenschappen
...,...,...,...,...,...,...,...,...,...,...
34868,2561,91930,25251,question.id_2561,likert/likert7puntslegeschaalpositief,Ik kan uitstekend dingen repareren. Toelichtin...,2023-04-27 21:03:57,Competenties,525.0,Faculteit Geesteswetenschappen
34869,2403,91930,25252,question.id_2403,likert/likert6puntsmatepositief,Om mijn werk goed te doen is het belangrijk om...,2023-04-27 21:06:14,tests.workstyles.title,516.0,Faculteit Geesteswetenschappen
34870,2402,91930,25252,question.id_2402,likert/likert6puntsmatepositief,Om mijn werk goed te doen is het belangrijk om...,2023-04-27 21:06:14,tests.workstyles.title,516.0,Faculteit Geesteswetenschappen
34871,2401,91930,25252,question.id_2401,likert/likert6puntsmatepositief,Om mijn werk goed te doen is het belangrijk om...,2023-04-27 21:06:14,tests.workstyles.title,516.0,Faculteit Geesteswetenschappen
34872,2410,91930,25252,question.id_2410,likert/likert6puntsmatepositief,Om mijn werk goed te doen is het belangrijk da...,2023-04-27 21:06:14,tests.workstyles.title,516.0,Faculteit Geesteswetenschappen

Merging level1subgroup to ensure competencies are included

In [ ]:
# Ensuring correct string data type
reduced_pcaSC['question_id'] = reduced_pcaSC['question_id'].astype(str)
groups['question_id'] = groups['question_id'].astype(str)

reduced_groups = pd.merge(reduced_pcaSC, groups, on='question_id', how='left')

reduced_groups

,question_id,dossier_id,answeredTest_id,question,type,label,datetime,maingroup,maingroup_id,faculty,level1subgroup
0,2269,1152,19833,question.id_2269,likert/likert5puntsacceptatie2positiefpluseen,je gevoelens duidelijk uiten,2022-06-27 12:36:27,Beroepskeuzetest,459.0,Faculteit Geesteswetenschappen,Sociaal
1,2278,1152,19833,question.id_2278,likert/likert5puntsacceptatie2positiefpluseen,activiteiten en evenementen organiseren,2022-06-27 12:36:27,Beroepskeuzetest,459.0,Faculteit Geesteswetenschappen,Ondernemend
2,2283,1152,19833,question.id_2283,likert/likert5puntsacceptatie2positiefpluseen,goed overweg met een computer,2022-06-27 12:36:27,Beroepskeuzetest,459.0,Faculteit Geesteswetenschappen,Conventioneel
3,2279,1152,19833,question.id_2279,likert/likert5puntsacceptatie2positiefpluseen,een groepsgesprek leiden,2022-06-27 12:36:27,Beroepskeuzetest,459.0,Faculteit Geesteswetenschappen,Ondernemend
4,2250,1152,19833,question.id_2250,likert/likert5puntsacceptatie2positiefpluseen,elektrische dingen fixen,2022-06-27 12:36:27,Beroepskeuzetest,459.0,Faculteit Geesteswetenschappen,Realistisch
...,...,...,...,...,...,...,...,...,...,...,...
34868,2561,91930,25251,question.id_2561,likert/likert7puntslegeschaalpositief,Ik kan uitstekend dingen repareren. Toelichtin...,2023-04-27 21:03:57,Competenties,525.0,Faculteit Geesteswetenschappen,NaN
34869,2403,91930,25252,question.id_2403,likert/likert6puntsmatepositief,Om mijn werk goed te doen is het belangrijk om...,2023-04-27 21:06:14,tests.workstyles.title,516.0,Faculteit Geesteswetenschappen,Gerichtheid op mensen
34870,2402,91930,25252,question.id_2402,likert/likert6puntsmatepositief,Om mijn werk goed te doen is het belangrijk om...,2023-04-27 21:06:14,tests.workstyles.title,516.0,Faculteit Geesteswetenschappen,Gerichtheid op mensen
34871,2401,91930,25252,question.id_2401,likert/likert6puntsmatepositief,Om mijn werk goed te doen is het belangrijk om...,2023-04-27 21:06:14,tests.workstyles.title,516.0,Faculteit Geesteswetenschappen,Gerichtheid op mensen
34872,2410,91930,25252,question.id_2410,likert/likert6puntsmatepositief,Om mijn werk goed te doen is het belangrijk da...,2023-04-27 21:06:14,tests.workstyles.title,516.0,Faculteit Geesteswetenschappen,Onafhankelijkheid

In [ ]:
# Adding answers from orginal UU dataset to the reduced datasets by student id as some data was found to not be normalized in reduced_pcaSC but
#the answers are consistent by student perquestion without a doubt
df_mod_groups_study1 = df_mod_groups_study.drop(['label', 'level1subgroup', 'faculty'], axis=1)

preprocessed_reduced_pcaSC = pd.merge(reduced_groups, df_mod_groups_study1,  how='left', left_on=['dossier_id','question_id'], right_on = ['dossier_id','question_id'])

preprocessed_reduced_pcaSC = preprocessed_reduced_pcaSC.dropna(subset=['level1subgroup'])
preprocessed_reduced_pcaSC

,question_id,dossier_id,answeredTest_id,question,type,label,datetime,maingroup,maingroup_id,faculty,level1subgroup,answer
0,2269,1152,19833,question.id_2269,likert/likert5puntsacceptatie2positiefpluseen,je gevoelens duidelijk uiten,2022-06-27 12:36:27,Beroepskeuzetest,459.0,Faculteit Geesteswetenschappen,Sociaal,0.75
1,2278,1152,19833,question.id_2278,likert/likert5puntsacceptatie2positiefpluseen,activiteiten en evenementen organiseren,2022-06-27 12:36:27,Beroepskeuzetest,459.0,Faculteit Geesteswetenschappen,Ondernemend,0.75
2,2283,1152,19833,question.id_2283,likert/likert5puntsacceptatie2positiefpluseen,goed overweg met een computer,2022-06-27 12:36:27,Beroepskeuzetest,459.0,Faculteit Geesteswetenschappen,Conventioneel,0.75
3,2279,1152,19833,question.id_2279,likert/likert5puntsacceptatie2positiefpluseen,een groepsgesprek leiden,2022-06-27 12:36:27,Beroepskeuzetest,459.0,Faculteit Geesteswetenschappen,Ondernemend,0.50
4,2250,1152,19833,question.id_2250,likert/likert5puntsacceptatie2positiefpluseen,elektrische dingen fixen,2022-06-27 12:36:27,Beroepskeuzetest,459.0,Faculteit Geesteswetenschappen,Realistisch,0.25
...,...,...,...,...,...,...,...,...,...,...,...,...
34859,2341,91930,25249,question.id_2341,likert/likert5puntsacceptatie2positief,Dat ik niet op mijn vingers gekeken word,2023-04-27 20:53:14,tests.workvalues.title,508.0,Faculteit Geesteswetenschappen,Onafhankelijkheid,0.80
34869,2403,91930,25252,question.id_2403,likert/likert6puntsmatepositief,Om mijn werk goed te doen is het belangrijk om...,2023-04-27 21:06:14,tests.workstyles.title,516.0,Faculteit Geesteswetenschappen,Gerichtheid op mensen,0.60
34870,2402,91930,25252,question.id_2402,likert/likert6puntsmatepositief,Om mijn werk goed te doen is het belangrijk om...,2023-04-27 21:06:14,tests.workstyles.title,516.0,Faculteit Geesteswetenschappen,Gerichtheid op mensen,0.40
34871,2401,91930,25252,question.id_2401,likert/likert6puntsmatepositief,Om mijn werk goed te doen is het belangrijk om...,2023-04-27 21:06:14,tests.workstyles.title,516.0,Faculteit Geesteswetenschappen,Gerichtheid op mensen,0.80
34872,2410,91930,25252,question.id_2410,likert/likert6puntsmatepositief,Om mijn werk goed te doen is het belangrijk da...,2023-04-27 21:06:14,tests.workstyles.title,516.0,Faculteit Geesteswetenschappen,Onafhankelijkheid,0.80

In [ ]:
# Export reduced preprocessed file as excel file
#preprocessed_reduced_pcaSC.to_excel('preprocessed_reduced_pcaCV.xlsx', index=False)